h1{
    color: rgb(189, 67, 67); 
    font-family: cursive;
}

p{
    /* word-spacing: 40px;
    line-height: 10px;
    letter-spacing: 30px; */
    /* text-align: justify;
    text-indent: 70px; */
}

/* universal selector */
*{
    margin: 0ch;
    padding: 0%;
}

/* Tag / Element selector */
h1{
    text-align: center;
    text-transform: uppercase;
    color: lavender;
}

/* attribute selector */
a[title="Google"]{
    text-decoration: none;
    color: aqua;
}

#idselector{
    color: brown;
    text-indent: 50px;
    word-spacing: 30px;
}

.classselector{
    color: aqua;
    line-height: 30px;
}

/* descendent selector */
.desc a{
    color: rgb(51, 255, 0);
}

/* child selector */
.child>a{
    color: rgb(255, 238, 0);
}

/* pseudo selector */
a:link{
    color: aqua;
}

a:hover{
    color:violet;
    letter-spacing: 10px;
}

a:active{
    color: yellowgreen;
}

a:visited{
    color: rgb(255, 251, 0);
}

/* Target  */
p:target{
    color: slateblue;
    word-spacing: 5px;
    letter-spacing: 5px;
    line-height: 30px;
    font-size: large;
    font-style: oblique;
}

/* border */
.borderOne{
    border: 10px double lightblue;
}

.borderTwo{
    border-left: 4px solid lawngreen;
    border-bottom: 4px dashed rosybrown;
    border-top: 4px double rgba(251, 255, 0, 0.911);
}

.borderWidth{
    border-width: 1px 20px;
    border-style: ridge;
}

.borderStyle{
    border-style: dashed solid double ridge;
    /* Top right bottom left */
}

/* margin */
.margin{
    border: 5px solid salmon;
    margin: 50px 425px 90px;
}

.marginTwo{
    border: 3px solid lavender;
    margin-right: 100px;
}

/* padding */
.padding{
    border: 5px solid darkkhaki;
    padding: 60px;
}