<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
    <div id="app">
        <div v-if="students.length>1">
            <table>
                <thead>
                    <tr>
                        <th>NO</th>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Gender</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(student,index) in students">
                        <td>{{++index}}</td>
                        <td>{{student.name}}</td>
                        <td>{{student.age}}</td>
                        <td>{{student.gender}}</td>
                        <td>
                            <button @click="detail_btn(index)">Detail</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>